/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color:rgb(8, 143, 98);
}


/******************************************
/* LAYOUT
/*******************************************/
/* header {

} */

footer {
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1 {
  margin: 0;
  text-align: center;
}
#mapDiv { 
  height: 90vh;
  width: 98%;
  margin: 0 auto;
  border: 1px solid limegreen;
 }

#layoutMain {
  display: grid;
  grid-template-columns: 25% 75%;
 }

 div{
   border: 1px solid blue;
 }